.tictac {
  width: 300px;
  
}

.tictac > div {
  height: 100px;
  display: flex;
  flex: 1;

  border:2px solid rgb(231, 231, 213);
 background-color:black;
 animation:blinkingText 8s infinite;
 
}

@keyframes blinkingText{
  0%{     color: white;    }
  49%{    color: yellow;}
  50%{    color: gray ;}
  99%{    color: green;}
  100%{      color:yellowgreen; }
}
@keyframes move {
  0%   {background-color:blue; left:0px; top:25px;}
  25%  {background-color:blue; left:0px; top:100px;color:yellow}
  50%  {background-color:blue; left:0px; top:-50px;color:blueviolet}
  75%  {background-color:blue; left:0px; top:-125px;color:blue}
  100% {background-color:blue; left:0px; top:-200px;color:blue}
}

.cell {
  display: flex;
  flex: 1;
  border: 1px solid yellow;
  justify-content: center;
  align-items: center;
} 

.cell__value {
  font-size: 30px;
}

.winner-msg  {
  content:"";
  color: white;
  margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
  width:50%;
  position: relative;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: backwards;

}
.winner-msg:after {
	content: "";
	animation: spin 8s infinite;
}

@keyframes spin {
  0% {content:""}
  75% {content:"Let Restart";margin: 5px ;color:yellow}
  100% { content:"Let Restart";margin: 5px ;color:white}
}



.reset {
  margin-top: 60px;
}

.reset {    color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
  touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
