
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.butt{
  background-color:pink;
}
.butt2{
  background-color:brown
}
body{
  animation:changeColor 8s infinite; 
}
@keyframes changeColor{
  0%{     background-color: white;    }
  49%{    background-color: black;}
  50%{    background-color: green;  }
  99%{    background-color:whitesmoke;  }
  100%{   background-color: gold;    }
}
li{
  padding:5px 8px
}